.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 18vw auto;
}

.smallText {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Poppins', sans-serif;
    fill: #dbdbdb;
    font-size: 1vw;
    font-weight: 100;
    width: 90%;
    margin-left: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 2.2vw;
    color: white;
}

.largeText {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 2vw;
    position: relative;
    top: 3.5vw;

    #bigTitle {
        width: 30vw;
        height: 12vw;
    }
}

.firstPlate {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    left: -8vw;

    img {
        width: 25vw;
    }
}

.secondPlate {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    overflow: hidden;
    align-self: center;
    margin-top: 4vw;

    img {
        width: 24vw;
        position: relative;
        right: -10vw;
    }
}

.number {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
    position: relative;
    right: 4vw;
    align-self: center;
    margin-top: 4vw;

    img {
        width: 22vw;
    }
}

@media screen and (max-width: 800px) {
    .content {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .smallText {
        position: relative;
        margin-top: 15vw;
        font-size: 5vw;
        font-weight: 100;
        width: 250%;
    }

    .firstPlate {
        visibility: hidden;
    }

    .secondPlate {
        margin-top: 20vw;
        position: relative;
        img {
            position: relative;
            width: 70vw;
        }
    }

    .number {
        margin-top: 20vw;
        right: 20vw;
        img {
            width: 70vw;
        }
    }

    .largeText {
        margin-top: 20vw;
        #bigTitle {
            position: relative;
            width: 250%;
            height: auto;
        }
    }
}
