footer {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#numberList {
    width: 48vw;
    height: auto;
}

#previousNext {
    width: 12vw;
    height: auto;
}

#socialIcons {
    width: 20vw;
    height: auto;
}

@media screen and (max-width: 900px),(min-height: 1300px) {
    footer {
        margin-top: 10vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
    }
    #numberList {
        width: 95vw;
        height: 10vw;
    }
    
    #previousNext {
        width: 30vw;
        height: auto;
        justify-self: center;
    }
    
    #socialIcons {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 50vw;
        height: 10vw;
        justify-self: center;
    }
}
